<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joyful</title>
    <link rel="stylesheet" href="/static/style.css" />
    <style>
      .circle.joyful {
        top: 50%; /* Adjust the top position */
        left: 50%; /* Adjust the left position */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="buttonback">
        <a href="/">
          <div class="buttontext">Back</div>
        </a>
      </div>

      <div class="circle joyful">
        <a href="/">
          <div class="circle-content">
            <div class="circle-text">Joyful</div>
          </div>
        </a>
      </div>

      {% for item in circles %}
      <div
        class="circlesmall joyful{% if not item.word or item.word == '---' %} empty{% endif %}"
        style="top: {{ item.top }}; left: {{ item.left }};"
      >
        <div class="circlesmall-text">
          <strong
            >{{ item.emotion if item.word and item.word != '---' else '---'
            }}</strong
          ><br />
          {{ item.word if item.word and item.word != '---' else '---' }}
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
