<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Peaceful</title>
    <link rel="stylesheet" href="/static/style.css" />
    <style>
      .circle.peaceful {
        top: 50%; /* Adjust the top position */
        left: 50%; /* Adjust the left position */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="circle peaceful">
        <a href="/">
          <div class="circle-content">
            <div class="circle-text">Peaceful</div>
          </div>
        </a>
      </div>

      <div class="circlesmall peaceful" style="top: 50%; left: 75%">
        <div class="circlesmall-text">---</div>
      </div>

      <div class="circlesmall peaceful" style="top: 32%; left: 50%">
        <div class="circlesmall-text">---</div>
      </div>

      <div class="circlesmall peaceful" style="top: 68%; left: 50%">
        <div class="circlesmall-text">---</div>
      </div>

      <div class="circlesmall peaceful" style="top: 50%; left: 25%">
        <div class="circlesmall-text">---</div>
      </div>

      <div class="circlesmall peaceful" style="top: 62%; left: 32%">
        <div class="circlesmall-text">---</div>
      </div>

      <div class="circlesmall peaceful" style="top: 62%; left: 68%">
        <div class="circlesmall-text">---</div>
      </div>

      <div class="circlesmall peaceful" style="top: 38%; left: 32%">
        <div class="circlesmall-text">---</div>
      </div>

      <div class="circlesmall peaceful" style="top: 38%; left: 68%">
        <div class="circlesmall-text">---</div>
      </div>

      <div class="circlesmall peaceful" style="top: 59%; left: 89%">
        <div class="circlesmall-text">---</div>
      </div>

      <div class="circlesmall peaceful" style="top: 41%; left: 89%">
        <div class="circlesmall-text">---</div>
      </div>

      <div class="circlesmall peaceful" style="top: 59%; left: 11%">
        <div class="circlesmall-text">---</div>
      </div>

      <div class="circlesmall peaceful" style="top: 41%; left: 11%">
        <div class="circlesmall-text">---</div>
      </div>

      <div class="circlesmall peaceful" style="top: 23%; left: 61%">
        <div class="circlesmall-text">---</div>
      </div>

      <div class="circlesmall peaceful" style="top: 23%; left: 39%">
        <div class="circlesmall-text">---</div>
      </div>

      <div class="circlesmall peaceful" style="top: 77%; left: 61%">
        <div class="circlesmall-text">---</div>
      </div>

      <div class="circlesmall peaceful" style="top: 77%; left: 39%">
        <div class="circlesmall-text">---</div>
      </div>

      <div class="circlesmall peaceful" style="top: 72%; left: 21%">
        <div class="circlesmall-text">---</div>
      </div>

      <div class="circlesmall peaceful" style="top: 72%; left: 79%">
        <div class="circlesmall-text">---</div>
      </div>

      <div class="circlesmall peaceful" style="top: 28%; left: 21%">
        <div class="circlesmall-text">---</div>
      </div>

      <div class="circlesmall peaceful" style="top: 28%; left: 79%">
        <div class="circlesmall-text">---</div>
      </div>
    </div>
  </body>
</html>
